/*^ Album Search ****************************************************/
.album-image {
    max-width: 400px;
    width: 100%;
    height: auto;
  }  

  .track-list {
    background-color: transparent;
    border: none;
    color: #9FFFCB;
  }

 