/*^ Typography ****************************************************/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.brand_font {
  font-family: "Architects Daughter", cursive;
}

.app_body {
  display: flex;
  flex-direction: column;
}

.main_section {
  display: flex;
  flex-grow: 1;
}

.body {
  padding: 30px;
  width: 100%;
  height: 100vh;
  overflow-y: overlay;
  flex: 0.9;
  color: white;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
  
}

.app_sidebar {
  flex: 0.1;
  min-width: 200px;
  height: 100vh;
  background-color: #7161EF;
}

@media only screen and (max-width: 540px) {
  .app_sidebar {
    display: none;
  }
  .body {
    flex: 10;
    margin-top: 50px;
    height: 100vh;
  }  
}

@media only screen and (min-width: 540px) {
  .app_footer_nav {
    display: none;
  }
  .app_header {
    display: none;
  }
}

.app_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.app_footer_nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
