/*^ Artist Search ****************************************************/
.artist-image {
  width: 100%;
    max-width: 250px;
    height: auto;
  }
  .artist-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  .related-artists-img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  @media only screen and (max-width: 540px) {
  
  }