.artist-text {
  font-size: 20px;
  font-weight: bold;
}

.main-artist {
  width: 300px;
  height: 300px;
}

.related-artist {
  width: 125px;
  height: 125px;
}
.artist-img-container{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.artist-img {
  height: 100%;
  width:100%;
  object-fit: cover; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.album-card {
  background-color: transparent;
  border: none;
}

.album-cover {
  width: 180px;
  height: auto;
}

.card-link {
  color: white;
}

/* screens this size and smaller */
@media only screen and (max-width: 300px) {
  .main-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  } 
  .main-artist {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 540px) {
  
  .main-artist {
    width: 75vw;
    height: 75vw;
  }

  .related-artist {
    width: 55vw;
    height: 55vw;
  }
  .album-cover {
    width: 75vw;
    height: auto;
  }
}


.test {
  outline: 5px solid yellow;
}