.footer-nav {
  height: 75px;
  background-color: #13293d;
  color: #bedcfe;  
}

.footer-nav-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;  
}

.footer-nav-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;  
  width: 60px;
  height: 60px;   
  font-size: 12px;
  margin: auto;
}

.footer-nav-icon {
  width: 60px;
  height: 60px;
  color: #9fffcb;
  margin: 0 auto; 
}

.footer-nav-text {  
  color: #9fffcb;
  text-align: center; 
}

