.footer-nav {
  height: 50px;
  background-color: #13293d;
  color: #bedcfe;
  display: flex;
  align-items: center;
}

.footer-nav-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav-icon {
  width: 30px;
  height: auto;
  color: #9fffcb;
}

.footer-nav-text {
  display: none;
}
