header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container {
    background-color: #13293D;

}

.header-logo {
    width: 48px;
    height: 48px;
}

.header-title {
    font-size: 30px;
    color:#BEDCFE;
}