/* Sidebar */
.sidebar {  
  color: #13293D;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  padding-left: 10px;
  
}

.sidebar-logo {
  width: 200px;
}



.sidebar-icon {
  font-size: 24px;
  text-align: center;
}

.sidebar-link {
  text-decoration: none;
  color: #13293D;
  padding: 10px;
  font-size: 16px;
  /* opacity: 1; */
  
  border-radius: 50px;
  margin: 1px 0;
  width: 175px;
}

/* mouse over link */
.sidebar-link:hover {
  /* opacity: 0.6; */
  color:#9FFFCB;
  background-color: #13293D;

}

/* selected link */
.sidebar-link:active {
  color: blue;
}
