/*^ Typography ****************************************************/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.brand-font {
  font-family: "Architects Daughter", cursive;
}

/*^ App.js ****************************************************/
.page {
  display: flex;
}

.main {
  padding-top: 80px;
  width: 100vw;
  margin-left: 250px;
}

/* .sidebar-main {
  width: 190px; 
  position: fixed; 
  margin-left: 410px; 
} */

/*^ COMPONENTS ****************************************************/

/* Sidebar */
.sidebar {
  background-color: #ddfff7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 25px;

  width: 250px; 
  position: fixed; 
}

.sidebar-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.sidebar-logo {
  width: 200px;
}

.sidebar-icon {
  font-size: 24px;
  text-align: center;
}

.sidebar-link {
  text-decoration: none;
  color: black;
  padding: 12px 0;
  font-size: 16px;
}

/*^ PAGES ****************************************************/
.full-page {
  min-height: 100vh;
  min-width: 100vw;
}

/*^ Home.js ****************************************************/
/* .home {
} */

/*^ Artist Search ****************************************************/

.artist-image {
  width: 250px;
  height: 250px;
}
.artist-text {
  font-size: 20px;
  font-weight: bold;
}

.related-artists-img {
  width: 150px;
  height: 150px;
}

/*^ Album Search ****************************************************/
.album-image {
  width: 250px;
  height: 250px;
}

/*^ Song Search ****************************************************/
.top-result-album-image {
  width: 200px;
  height: 200px;
}
.song-album-image {
  width: 100px;
  height: 100px;
}
.artist-text {
  font-size: 20px;
  font-weight: bold;
}
.image {
  width: 300px;
}
.song-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.song-info-text {
  padding-left: 10px;
}

/*^ Exercises *****************************************/
.card-style {
  margin: 0 5px;
  box-shadow: 2px 2px 10px gray;
}
.card-text {
  font-size: 12px;
}